.input {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;

  &__field {
    padding: 7.5px 10px;
    margin-top: 5px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    border: none;
    background: rgb(248, 248, 248);
    border-bottom: 1px solid rgba(41, 231, 66, 0.75);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 2.5px;
  }

  &__label {
    font-size: 14px;
    color: white;
  }
}
